<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Detail:</b>
  <%= @event.detail %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<a href="/admin" class="menu-itemm" id="menu53" title="events" id="menu80" title="Events"><span class="menu-title">Back</span></a>
