<h1>Editing donation</h1>

<%= render 'form' %>

<%= link_to 'Show', @donation %> |
<a href="/admin" class="menu-itemm" id="menu53" title="events" id="menu80" title="Events"><span class="menu-title">Back</span></a>

