<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<a href="/admin" class="menu-itemm" id="menu53" title="events" id="menu80" title="Events"><span class="menu-title">Back</span></a>

